default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: epbot_development
  username: epbot
  password:
  #host: localhost
  #port: 5432
  
test:
  <<: *default
  database: epbot_test

production:
  <<: *default
  database: epbot_production
  username: epbot
  password: <%= ENV['MYAPP_DATABASE_PASSWORD'] %>
